<a href="https://colab.research.google.com/github/Sharan2004/21CSS101J-RA2211042010008COLAB/blob/main/RA2211042010008.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

addition

In [16]:
num1=1000
num2=1000
print(num1+num2)

2000

subtraction

In [14]:
num1=1000
num2=500
print(num1-num2)

500

In [18]:
a = str(input("favourite bike: "))
print(a)

favourite bike: R15V4
R15V4

multipilication

In [19]:
num1=1000
num2=1000
print (num1*num2)

1000000

division

In [20]:
num1=1000
num2=20
num1/num2

50.0

In [22]:
a = int(input("enter a num1: "))
b = int(input("enter a num2: "))
sum = a + b 
print("sum",sum)

enter a num1: 15
enter a num2: 15
sum 30

In [24]:
a = int(input("enter a num1: "))
b = int(input("enter a num2 : "))
diff = a - b
print("diff",diff)

enter a num1: 30
enter a num2 : 15
diff 15

In [25]:
a = int(input("enter a num1: "))
b = int(input("enter a num2: "))
pro = a*b
print("pro",pro)

enter a num1: 25
enter a num2: 25
pro 625

In [28]:
a = int(input("enter sub1 marks: "))
b = int(input("enter sub2 marks: "))
c = int(input("enter sub3 marks: "))
average=a+b+c/3
print(average)

enter sub1 marks: 70
enter sub2 marks: 70
enter sub3 marks: 70
163.33333333333334

In [30]:
a = int(input("enter a num: "))
if (a/2=0):
 print("even")
 else:
   print("odd")

SyntaxError: ignored

printing integer

In [11]:
a = 15
print(a)

15